@use '../app' as *;

.outer-container {
  width: 100% !important;
  min-height: 100%;
  max-width: 100%;
}

.container {
  width: 100%;

  padding: 2rem;
  background-color: none !important;
}

.fallback {
  height: 100%;
  justify-content: center;
}

.commands-container {
  max-height: 100%;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.disabled {
  display: none !important;
}