$backgroundColor: #0d0d0d;
$borderColor: #1f1f1f;
$widgetColor: #101010;

$textColor: #767676;
$textBrightColor: #d9d9d9;

$primaryColor: #a62130;
$primaryBrightColor: #df2137;

$fontFamily: 'Quicksand', sans-serif;

$baseFontSize: 10px;
$defaultFontSize: 2.4rem;
$altFontSize: 2rem;
$bigFontSize: 3.2rem;
$smallFontSize: 1.6rem;
$tinyFontSize: 1.2rem;

$defaultIconSize: 3rem;
$altIconSize: 2.4rem;
$bigIconSize: 4rem;
$smallIconSize: 1.2rem;

$borderRadius: 2rem;