@use 'app';

.anchor {
  color: app.$primaryColor;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;

  transition:
    color 0.2s ease-in-out,
    text-decoration 0.2s ease-in-out;

  &:visited {
    color: app.$primaryColor;
  }

  &:hover {
    text-decoration: solid underline;
    color: app.$primaryBrightColor;
  }
}