@use 'app' as *;


.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 2rem;
  box-sizing: border-box;

  background-color: $widgetColor;

  width: 25rem;
  // height: 20rem;
  // height: fit-content;

  flex-grow: 1;

  gap: 0.5rem;

  border-radius: $borderRadius;
  contain: content;

  font-size: $altFontSize;

  .progress-bar {
    position: absolute;

    bottom: 0;
    left: 0;

    height: 1rem;
    border-radius: $borderRadius;


    margin-top: auto;

    align-self: flex-start;

    background-color: $primaryBrightColor;
    transition: width var(--timeLeft) linear;

    z-index: 1;
  }

  .line {
    display: flex;
    width: 100%;

    align-items: flex-end;
    justify-content: left;

    gap: 0.5rem;

    .name {
      font-size: $smallFontSize;

      user-select: none;
    }

    .value {
      display: inline-block;
      color: $textBrightColor;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}