@use 'app';
@use 'animations';


.loading {
  margin: auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2rem;

  @include animations.fadeIn(0.5s);

  span {
    font-size: app.$altFontSize;
    text-align: center;
  }
}