@use 'app';


.loading {
  margin: auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2rem;

  animation: fadeIn 0.5s ease-in-out;

  span {
    font-size: app.$altFontSize;
    text-align: center;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}