@use './app' as *;
@use './animations' as *;


.job {
  display: grid;

  grid-template-columns: min-content auto;
  gap: 0.5rem;

  align-items: center;

  font-size: $smallFontSize;

  height: min-content;
  width: min-content;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    font-size: $tinyFontSize;

    .name {
      color: $textBrightColor;
    }
  }

  .property {
    width: 100%;
    display: flex;

    font-family: $monoFontFamily;
    gap: 0.5rem;

    // .name {}

    .value {
      color: $textBrightColor;
    }
  }
}