@use 'app' as *;


.textarea {

  font-size: $smallFontSize;

  overflow: auto;
  box-sizing: border-box;
  contain: content;

  margin: 0;

  &:focus {
    outline: none;
    border-color: $textColor;
  }
}