@use 'app';
@use 'animations' as *;
@use 'symbolUtils';


.container {
  flex-shrink: 0;

  width: max-content;
  height: min-content;

  display: grid;
  grid-template-rows: min-content 1fr;
}

.title-bar {
  display: flex;
  justify-content: space-between;

  .title {
    color: app.$textBrightColor;
    font-size: app.$altFontSize;

    font-weight: 500;

    user-select: none;
  }

  .refresh-button {
    display: flex;
    height: 100%;

    align-items: center;

    :global(.material-symbols-rounded) {
      @include inlineAnimation(.5s, ease-in-out, 0s, infinite, normal, forwards) {
        from {
          rotate: 0deg;
        }

        to {
          rotate: 360deg;
        }
      }

      animation-play-state: paused;
    }
  }

  .loading > :global(.material-symbols-rounded) {
    animation-play-state: running;
  }
}

.container-proper {
  margin-top: 1rem;

  overflow-x: hidden;
  overflow-y: auto;

  box-sizing: border-box;

  background-color: app.$widgetColor;
  border-radius: app.$borderRadius;
}