@use '../app';
@use 'dashboard' as *;


.container {
  @include container();
}

.info {
  width: 100%;
  height: 100%;

  padding: 2rem 3rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  .icon {
    $size: 12rem;

    font-size: $size;
    width: $size;
    height: $size;
  }

  .header {
    font-size: 6.4rem;
    text-align: center;

    font-weight: 500;
    color: app.$textBrightColor;
  }

  .message {
    font-size: app.$defaultFontSize;
    text-align: center;

    font-weight: 400;
    color: app.$textColor;
  }
}